@use 'lib' as *;

.about {
	$self: &;

	overflow: hidden;
	padding-top: fluid(125px, 65px);

	@include media("<=xs") {
		padding-bottom: 75px;
	}

	&__body {
		position: relative;
		padding-bottom: fluid(450px, 170px);
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		margin-bottom: fluid(120px, 92px);
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 440px;
			height: 282px;
			top: 5%;
		}

		@include media("<=sm") {
			grid-template-columns: 100%;
		}
	}

	&__card {
		&:nth-child(1) {
			padding: 20px fluid(80px, 20px) 10px 0px;
			border-right: 1px solid #696868;

			@include media("<=sm") {
				padding: 40px 20px;
				border-right: none;
				border-bottom: 1px solid #696868;
			}
		}

		&:nth-child(2) {
			padding: 20px fluid(80px, 20px) 10px fluid(80px, 20px);
			border-right: 1px solid #696868;

			@include media("<=sm") {
				padding: 40px 20px;
				border-right: none;
				border-bottom: 1px solid #696868;
			}
		}

		&:nth-child(3) {
			padding: 20px fluid(80px, 20px) 10px fluid(80px, 20px);

			@include media("<=sm") {
				padding: 40px 20px;
				border-right: none;
			}
		}
	}

	&__card-title {
		font-size: fluid(80px, 60px);
		line-height: 120%;
		margin-bottom: fluid(50px, 0px);
		display: block;
		width: fit-content;
	}

	&__card-text {
		max-width: 300px;
		font-size: fluid(24px, 16px);
		color: #989898;

		b {
			font-weight: 700;
			color: #ffffff;
		}
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		@include media("<=sm") {
			grid-template-columns: 100%;
		}
	}

	&__space-item {
		width: fit-content;
		height: fit-content;

		@include media("<=sm") {
			margin-bottom: 36px;
		}
	}

	&__text {
		grid-column: span 2;
		display: flex;
		flex-direction: column;
		gap: 30px;

		p span {
			color: var(--orange);
		}

		p b {
			color: #ffffff;
			font-weight: 400;
		}

		p {
			color: #989898;
			font-size: fluid(24px, 13px);
		}

		p:nth-child(1) {
			font-size: fluid(36px, 21px);
			margin-bottom: 40px;
			font-weight: 700;

			b {
				font-weight: 700;
			}
		}

		@include media("<=sm") {
			grid-column: span 1;
		}
	}

	&__bg {
		position: absolute;
		bottom: 0; left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		display: flex;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			scale: 1.01;
		}

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(2, 3, 8, 0) 80%, #020308 100%),
				linear-gradient(360deg, rgba(2, 3, 8, 0) 32.24%, #020308 84.3%);

		}

		@include media("<=xs") {
			height: 40%;
		}
	}

	&__meteor {
		position: absolute;
		bottom: 66px; left: 0;
		width: fluid(478px, 152px);
		z-index: 1;

		@include media("<=xs") {
			bottom: 0;
		}
	}

	&__sphere {
		position: absolute;
		top: 40%; left: 15%;
		width: 86px;
		z-index: 1;

		@include media("<=lg") {
			display: none;
		}
	}

}