<a href="#" class="s-card">
    <div class="s-card__body">
        <h4 class="s-card__title">Создание лендинга (одностраничного сайта)</h4>
        <ul class="s-card__list">
            <li class="s-card__list-item">Структура</li>
            <li class="s-card__list-item">Текст</li>
            <li class="s-card__list-item">Дизайн страниц</li>
            <li class="s-card__list-item">Верстка</li>
            <li class="s-card__list-item">Аналитика</li>
        </ul>
        <div class="s-card__bottom">
            <div class="s-card__price">
                <b>Стоимость:</b>
                от 30 000 руб.
            </div>
            <div class="s-card__link">
                УЗНАТЬ БОЛЬШЕ
            </div>
        </div>
    </div>
</a>