@use 'lib' as *;

.space-item {
	$self: &;

	padding: 8px 35px;
	border-radius: 10px;
	border: 1px solid #989898;
	flex: 0 0 auto;

	b {
		line-height: 160%;
		font-size: fluid(16px, 12px);
		color: #989898;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 10px;
		font-weight: 400;
		
		&::before {
			content: '';
			width: 7px; height: 7px;
			border-radius: 50%;
			background: var(--orange);
		}
	}
}
