@use 'lib' as *;

.advantages {
	$self: &;

	padding-top: fluid(90px, 45px);
	padding-bottom: fluid(100px, 50px);
	position: relative;
	overflow: hidden;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__top {
		margin-bottom: fluid(80px, 62px);
		position: relative;
		z-index: 0;
	}

	&__title {}

	&__space-item {}

	&__btn {
		width: 100%;
		max-width: 320px;

		@include media(">xlg") {
			display: none;
		}
	}

	&__cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		justify-content: end;
		align-items: end;
		position: relative;
		z-index: 1;

		@include media("<=xlg") {
			grid-template-columns: repeat(3, 1fr);
			margin-bottom: 56px;
		}

		@include media("<=md") {
			grid-template-columns: repeat(2, 1fr);
		}

		@include media("<=xs") {
			grid-template-columns: 100%;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		gap: 0;
		transition: all var(--trans);
		position: relative;
		z-index: 1;
		cursor: default;
	}

	&__card-content {
		height: fluid(436px, 240px);
		min-height: fit-content;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: fluid(36px, 30px);
		border-radius: 20px;
		border: 1px solid var(--orange);
		transition: all 0.5s ease-out;
		background: #020308;
		position: relative;
		z-index: 0;
	}

	&__card-title {
		font-weight: 700;
		font-size: fluid(30px, 21px);

		@include media("<=xs") {
			max-width: 190px;
		}
	}

	&__card-text {
		color: #989898;
		font-size: fluid(18px, 13px);
		transition: all var(--trans);
	}

	&__card-bottom {
		overflow: hidden;
		transform: translateY(-100%);
		transition: all 0.5s ease-out;
		position: relative;
		z-index: 0;
		opacity: 0;
		margin-top: 32px;
		z-index: 1;

		@include media("<=xlg") {
			display: none;
		}

	}

	&__card-btn.btn {
		transition: all 0.5s ease-out;
		width: 100%;
	}

	&__card:nth-child(1) &__card-meteor {
		position: absolute;
		top: -5%;
		right: -25%;
		z-index: 1;
		width: fluid(250px, 170px);
		pointer-events: none;

		@include media("<=xlg") {
			top: -20%;
			right: -10%;
		}
	}

	&__card:nth-child(2) &__card-meteor {
		position: absolute;
		bottom: -2%;
		right: -25%;
		z-index: 1;
		width: fluid(220px, 170px);
		pointer-events: none;

		@include media("<=xlg") {
			bottom: -20%;
			right: -30%;
		}
	}

	&__meteor {
		position: absolute;
		top: 0;
		right: -2%;
		z-index: 2;

		@include media("<=xs") {
			top: auto;
			right: -20%;
			bottom: 5%;
		}
	}

	@include media(">xlg") {
		&__card:hover {}

		&__card:hover &__card-content {}

		&__card:hover &__card-bottom {
			transform: translateY(0%);
			opacity: 1;
		}
	}

	@include media(">lg") {
		&__card:hover &__card-text {
			color: #fff;
		}
	}

}