@use 'lib' as *;

.header {
	$self: &;

	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba($color: #202020, $alpha: 0.85);
	backdrop-filter: blur(6px);
	z-index: 100;

	&__container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		position: relative;
		padding: 18px 0px;

		@include media("<=xxlg") {
			gap: 48px;
			padding: 16px 0px;
		}
	}

	&__menu {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		@include media("<=lg") {
			position: fixed;
			padding: 24px;
			padding-top: var(--header-height);
			inset: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: #292929, $alpha: 0.95);
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 48px;
			opacity: 0;
			visibility: hidden;
			transition: all var(--trans);
			backdrop-filter: blur(10px);
		}
	}

	&__side {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;

		&_left {
			justify-content: start;
			max-width: calc(50% - 186px);

			@include media("<=xxlg") {
				max-width: 100%;
			}
		}

		&_right {
			justify-content: end;
			gap: fluid(95px, 24px);

			@include media("<=lg") {
				justify-content: center;
				flex-direction: column;
				gap: 24px;
			}
		}
	}

	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap: 24px;

		@include media("<=lg") {
			flex-direction: column;

		}
	}

	&__list-item {
		text-wrap: nowrap;
		position: relative;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			top: calc(100% + 8px);
			left: 0;
			height: 2px;
			width: 100%;
			border-radius: 1px;
			background: #ffffff;
			opacity: 0;
			transition: all var(--trans);
		}

		@include media("<=lg") {
			font-size: fluid(26px, 20px);
		}

		@include media(">lg") {
			&:hover {
				&::after {
					opacity: 1;
				}
			}
		}
	}

	&__logo {
		@include flex-center;
		width: 112px;
		height: 112px;
		position: absolute;
		top: 20%;
		left: 50%;
		transform: translateX(-50%);
		padding: 32px 0px;
		background: #202020;
		border-radius: 100%;
		z-index: 1;

		img {
			height: 100%;
			object-fit: contain;
		}

		@include media("<=xxlg") {
			position: static;
			transform: none;
			height: 45px;
			width: auto;
			padding: 0;
		}
	}

	&__tel {
		font-size: 24px;
		font-weight: 700;
		color: #DADADA;
		text-transform: uppercase;
		text-wrap: nowrap;
		transition: all var(--trans);

		@include media(">lg") {
			&:hover {
				color: #ffffff;
			}
		}
	}

	&__socials {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;
	}

	&__social {
		flex: 0 0 auto;
		transition: all var(--trans);

		@include media(">lg") {
			&:hover {
				opacity: 0.85;
			}
		}

		img {
			width: 32px;
			height: 32px;
			object-fit: cover;
		}

		@include media("<=lg") {
			img {
				width: 42px;
				height: 42px;
			}
		}
	}

	&__burger {
		@include flex-center;
		height: 17px;
		width: 28px;
		position: relative;
		overflow: visible;
		z-index: 1;

		@include media(">lg") {
			display: none;
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 3px;
			border-radius: 2px;
			background: #DADADA;
			transition: all var(--trans);
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			width: 55%;
			height: 3px;
			border-radius: 2px;
			background: #DADADA;
			transition: all var(--trans);
		}

		span {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			display: block;
			height: 3px;
			width: 80%;
			border-radius: 2px;
			background: #DADADA;
			transition: all var(--trans);
		}
	}

	&.is-open {
		#{$self}__menu {
			opacity: 1;
			visibility: visible;
		}

		#{$self}__burger {
			&::before {
				top: 50%;
				right: 0;
				width: 100%;
				transform: translateY(-50%) rotate(45deg);
			}

			&::after {
				bottom: 50%;
				right: 0;
				width: 100%;
				transform: translateY(50%) rotate(-45deg);
			}

			span {
				opacity: 0;
			}
		}
	}

}